.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

@for $i from 1 through 5 {
  .box-#{$i} {
    border-width: #{$i}px;
  }
}

@for $i from 02 to 06 {
  .box-#{$i} {
    height: 145px + $i * 5px;
    width: 145px + $i * 5px;
  }
}

@for $i from 10 through 50 {
  .box-#{$i} {
    @if $i % 2 == 0 {
      background-color: gray;
    } @else {
      background-color: pink;
    }
  }
}
